@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  font-family: Montserrat;
}

body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat;
  background-color: #08AEEA;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#08AEEA), to(#2AF598));background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table, th, td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  table-layout: fixed ;
  width: 100% ;
}

th{
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #2ab1e2;
  color: white;
  text-align: center; 
  vertical-align: middle;
}

tr:nth-child(odd){background-color: #f2f2f2ab;}

td {
  width: 25% ;
  text-align: center; 
  vertical-align: middle;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  top: -5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* BUTTONS */
.removeBtn {
  outline: none;
  border: none;
  background-color: #f76c5f;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

.removeBtn--single{
  outline: none;
  border: none;
  background-color: #ff4b3b;
  padding: 4px 7px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  color:white;
}

.removeBtn:hover{
  background-color: #f3938a;
}

.removeBtn--single:hover{
  background-color: #f3938a;
}

/* INPUT */
.input {
  border-bottom: 5px solid #2ab1e2;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.input__btn {
  border: none;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  background-color: #2ab1e2;;
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.input__btn:hover{
  background-color: #68c4e6;;
}

.input__field {
  border-radius: 40px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.3vw;
  outline: none;
}

input, select {
  margin-right: 10px;
}
